{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <script src="https://kit.fontawesome.com/021374a3b6.js" crossorigin="anonymous"></script>
</head>
{% tailwind_css %}
<body>
    {% include 'User/navbar.html' %}
    {% include 'User/navbar_main_business.html' %}
    <h1>Business Interface</h1>
    <a href="{% url 'Store:product_registration' %}"><button class="ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Add Product</button></a>
    <button class="ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Add Profile</button>
</body>
</html>