{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/021374a3b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    <title>Index</title>
    {% tailwind_css %}
    <style>
      .navbar-main {
        position: sticky;
        top: 0;
        z-index: 55;
      }
      #flag {
        font-size: 35px;
     }
    </style>
</head>

<body>
    {% block content %}
    {% include 'User/navbar.html' %}
    
    {% include 'User/navbar_main.html' %}
    

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4">

            <!-- Product Card starts -->
            {% for aproduct in products %}
            {% if aproduct.product_category and aproduct.product_name and aproduct.product_image_main and aproduct.product_price and aproduct.procuring_user == None %}
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{aproduct.product_image_main.url}}">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{aproduct.product_category}}</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">{{aproduct.product_name}}</h2>
                <p class="mt-1">${{aproduct.product_price}}</p>
              </div>
              <a href="{% url 'product' aproduct.id %}"><button class="bg-yellow-400 p-2 rounded-lg">View</button></a>
            </div>
            {% endif %}
            {% endfor %}

            <!-- Product Card ends -->
          </div>
        </div>
      </section>


      {% endblock %}
</body>
</html>