{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Portal</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet"> -->
    {% tailwind_css %}
</head>
<body>
    {% include 'User/navbar.html' %}

    {% block content %}
    <div class="bg-white flex justify-center items-center" style="height: 850px; width: 100%;">
        <div class="login_wrap h-5/6 bg-gray-100 flex flex-col items-center p-8" style="width: 500px;">
            <h1 class="text-black text-5xl font-bold tracking-widest font-Monts">Login</h1>
            <form action="" method="post" class="w-fit flex flex-col items-center mt-6 h-fit">
                {% csrf_token %}
                <label for="email" class="text-black text-xl font-Monts mt-5">Email</label><br>
                <input type="email" name="email" id="email" class="w-full rounded-lg focus:border-yellow-400" style="outline:none !important;">
                <label for="password" class="text-black text-xl font-Monts mt-5">Password</label><br>
                <input type="password" id="password"" name="password" class="w-full rounded-lg focus:border-yellow-400" style="outline:none !important;">
                <button type="submit" class="mt-12 text-black text-2xl w-full border-2 border-yellow-400 bg-yellow-400 rounded-lg font-Monts hover:bg-yellow-500 hover:border-yellow-500">Submit</button>

                <span class="mt-8 w-full flex flex-col items-start">
                    <p>Don't have an account? <a href="{% url 'register' %}" class="text-blue-500 underline font-Monts mb-3">Register</a></p>
                    <p>Forgot Password? <a href="#" class="text-blue-500 underline font-Monts mb-3">Retrieve</a></p>
                </span>

                <span class="mt-5">
                    <p>By continuing, you agree to Tailwind's <a href="#" class="text-blue-500 underline font-Monts mb-3">Conditions of Use</a> and <a href="#" class="text-blue-500 underline font-Monts mb-3">Privacy Notice</a>.</p>
                </span>
                <span class="mt-5">
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </span>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>