<div class="w-full flex justify-between navbar-main bg-white" style="height:70px; padding: 0 20px;">
    <div class="h-full font-Monts flex items-center justify-center" style="width:55%;">
        <input type="text" class="w-96 border-2 border-yellow-400 outline-none" placeholder="Search items"><div class="flex items-center justify-center bg-yellow-400 w-8" style="height:44px;"><i class="fa-solid fa-magnifying-glass"></i></div>
    </div>
    <div class="h-full font-Monts flex items-center justify-center" style="width:5%;">Flag</div>
    <div class="h-full font-Monts flex items-center justify-center" style="width:10%;">Returns & Orders</div>
    <div class="h-full font-Monts flex items-center justify-center" style="width:13%;">Welcome<br>{{regusername}}</div>
    <div class="h-full font-Monts flex items-center justify-center" style="width:10%;"><i class="fa-solid fa-cart-shopping"></i>  Cart</div>
</div>